@import "tailwindcss";


body {
	background-image: url('/mininmiltia.webp');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
  border-radius: 0 0 10px 10px;

}


.mystery-quest-regular {
  font-family: "Mystery Quest", system-ui;
  font-weight: 400;
  font-style: normal;
}